.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 50px 0;
  margin: 20px auto;
  h1{
    font-size: 3rem;
    margin: 0;
    a{
      color: #333;
    }
  }
  nav{
    margin-left: auto;
    a{
      display: inline-block;
      padding: 10px;
      color: $c2;
      font-weight: 800;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
    }
    a:hover{
      border-bottom: 2px solid;
    }
    .nuxt-link-exact-active{
      border-bottom: 2px solid;
    }
  }
}

.site{
  display: flex;
  flex-direction: column;

/*   padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include make-container;
  */
}

.main{
  flex: 1 0;
  margin-bottom: auto;
  min-height: calc(100vh - 200px);
}

.footer {
  margin: 50px 0;
}
