// transition
@mixin transition () {
  transition: all .3s ease-out;
}

// container
@mixin make-container(){
  @each $grid-breakpoint, $container-max-width in $container-max-widths {
    $min: map-get($grid-breakpoints, $grid-breakpoint);
    @media screen and (min-width: $min){
      max-width: $container-max-width;
    }
  }
}
