// @import url('https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700');

$c0: #fff;
$c1: #394048;
$c2: #922244;
$c2: #e36b76;
$c3: #f2f2f2;
$c4: #d2d2d2;
$c5: #828282;
$c6: #929292;

// Color from Milligram
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: $c0;
$color-primary: $c2;
$color-secondary: $c1;
$color-tertiary: $c3;
$color-quaternary: $c4;
$color-quinary: $c5;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
