<template>
  <div class="code">
    <h2>{{title}}</h2>
    <pre>
{{myStyles}}
    </pre>
  </div>
</template>

<script>
export default {
  name: 'Code',
  props: ['containerStyles', 'title'],
  data () {
    return {

    }
  },
  computed: {
    myStyles () {
      return JSON.stringify(this.containerStyles).replace(/["]/g, "").replace(/[,]/g, "\n").replace(/[{]/g, "").replace(/[}]/g, "")
    }
  }
}
</script>

<style lang="scss" scoped>
.code{
  margin-right: 50px;
  min-width: 50%;
}
</style>
