<template>
<div class="flexbox">
  <div class="selectores">


    <h3>Flex Container</h3>
    <div class="sec containers">
      <label>Display type
      <select v-model="selectedDisplayType">
        <option v-for="(type, key) in displayTypes" :key="key" :value="type">{{type}}</option>
      </select>
      </label>

      <label>Flex Direction
      <select v-model="selectedFlexDirection">
        <option v-for="(type, key) in flexDirections" :key="key" :value="type">{{type}}</option>
      </select>
      </label>

      <label>Flex Wrap
      <select v-model="selectedFlexWrap">
        <option v-for="(type, key) in flexWraps" :key="key" :value="type">{{type}}</option>
      </select>
      </label>

      <label>Justify Content
      <select v-model="selectedJustifyContent">
        <option v-for="(type, key) in justifyContents" :key="key" :value="type">{{type}}</option>
      </select>
      </label>

      <label>Align Items
      <select v-model="selectedAlignItems">
        <option v-for="(type, key) in alignItems" :key="key" :value="type">{{type}}</option>
      </select>
      </label>

      <label>Align Content
      <select v-model="selectedAlignContent">
        <option v-for="(type, key) in alignContents" :key="key" :value="type">{{type}}</option>
      </select>
      </label>
    </div>

  </div>

  <div class="addElements">
    <label>Manage elements
      <div @click="itemsNum++" class="button button-outline button-small">+</div>
      <div @click="itemsNum--" class="button button-outline button-small">&mdash;</div>
    </label>
  </div>

  <div class="mainConsole">
    <display
      :items="itemsNum"
      :displaytype="selectedDisplayType"
      :flexDirection="selectedFlexDirection"
      :flexWrap="selectedFlexWrap"
      :justifyContent="selectedJustifyContent"
      :alignItems="selectedAlignItems"
      :alignContent="selectedAlignContent"
      v-on:passContainerStyles="passContainerStyles"
      v-on:passItemStyles="passItemStyles"
    />

    <ItemSelector
      v-on:passItemStyles="passItemStyles" />

  </div>

  <div class="codeView">
    <CodeView :title="'Container'" :containerStyles="containerStyles" />
    <CodeView :title="'Item'" :containerStyles="itemStyles" />
  </div>

</div>
</template>

<script>
import ItemSelector from '@/components/UI/ItemSelector.vue'
import Display from '@/components/Display.vue'
import CodeView from '@/components/CodeView.vue'
import bus from '@/plugins/bus'

export default {
  name: 'Console',
  components: {Display, ItemSelector, CodeView},
  data () {
    // flex-flow // shorcut for f-direction and f-wrap
    return {
      itemsNum: 4,
      displayTypes: ['block', 'inline', 'inline-block', 'flex', 'inline-flex'],
      selectedDisplayType: 'flex',
      flexDirections: ['row', 'row-reverse', 'column', 'column-reverse'],
      selectedFlexDirection: 'row',
      flexWraps: ['wrap', 'nowrap', 'wrap-reverse'],
      selectedFlexWrap: 'nowrap',
      justifyContents: ['flex-start', 'flex-end', 'center', 'space-between', 'space-around'],
      selectedJustifyContent: 'flex-start',
      alignItems: ['flex-start', 'flex-end', 'center', 'stretch', 'baseline'],
      selectedAlignItems: 'stretch',
      alignContents: ['flex-start', 'flex-end', 'center', 'stretch', 'space-between', 'space-around'],
      selectedAlignContent: 'stretch',
      order: 0,
      flexGrow: 0,
      flexShrink: 0,
      flexBasis: 'auto',
      containerStyles: {},
      itemStyles: {},
      currentItem: bus._data
    }
  },
  methods: {
    passContainerStyles (containerStyles) {
      // console.log('Description', containerStyles)
      this.containerStyles = this.objectKeysToLowerCase(containerStyles)
    },
    passItemStyles (itemStyles) {
      // console.log('flexbox->passItemStyles:', itemStyles)
      this.itemStyles = this.objectKeysToLowerCase(itemStyles)
    },
    objectKeysToLowerCase (origObj) {
      return Object.keys(origObj).reduce( (newObj, key) => {
        let val = origObj[key]
        let newVal = (typeof val === 'object') ? this.objectKeysToLowerCase(val) : val
        let newKey = key.replace(/([a-zA-Z])(?=[A-Z])/g, '$1-').toLowerCase()
        // console.log(newVal)
        // console.log(newKey)
        newObj[newKey] = newVal
        return newObj
      }, {})
    }
  }
}
</script>

<style lang="css" scoped>
.addElements {
  margin: 20px 0 10px;
}
.addElements div{
  margin-right: 10px;
}

.selectores{
  display: flex;
  flex-direction: column;
}

.sec{
  flex-direction: row;
  display: flex;
}
.mainConsole{
  display: flex;
}

.codeView{
  display: flex;
  margin-top: 50px;
}
</style>
