<template>
<div class="display">

  <div class="playzone" v-bind:style="[styleObject, containerStyles]" @click="unselect">
    <item v-for="(item, index) in items" :key="index" :index="index+1" />
  </div>

</div>
</template>

<script>
import Item from '@/components/Item.vue'
import bus from '@/plugins/bus'
export default {
  name: 'Display',
  components: {Item},
  props: ['items', 'displaytype', 'flexDirection', 'flexWrap', 'justifyContent', 'alignItems', 'alignContent'],
  data () {
    return {
      styleObject: {
        backgroundColor: '#eee'
      },
      bus: bus._data
    }
  },
  computed: {
    containerStyles () {
      return {
        display: this.displaytype,
        flexDirection: this.flexDirection,
        flexWrap: this.flexWrap,
        justifyContent: this.justifyContent,
        alignItems: this.alignItems,
        alignContent: this.alignContent
      }
    }
  },
  methods: {
    unselect (e) {
      console.log('Dispaly->unselect', e)
      bus.$emit('selectedItem', 0, null)
    }
  },
  watch: {
    containerStyles: function () {
      this.$emit('passContainerStyles', this.containerStyles)
    }
  },
  updated () {
  }
}
</script>

<style lang="css" scoped>
.display{
  display: flex;
}

.playzone{
  width: 800px;
  height: 500px;
  padding: 40px;
  margin-right: 20px;
  transition: all .6s ease-in;
}
.code{
  width: 100px;
}
</style>
