<template>
<div class="item"
    v-bind:style="[itemStyles, stylesObj]"
    v-bind:class="{ marked: isShown }"
    @click.stop="showSelectors">
  {{index}}
</div>
</template>

<script>
import bus from '@/plugins/bus'

export default {
  name: 'Item',
  props: ['index'],
  components: {

  },
  data () {
    return {
      mycolor: '',
      mywidth: '50px',
      myheight: '50px',
      isShown: false,
      alignSelfs: ['auto', 'flex-start', 'flex-end', 'center', 'baseline', 'stretch'],
      selectedAlignSelf: 'auto',
      itemStyles: {},
      itemBasis: {}
    }
  },
  computed: {
    stylesObj () {
      return {
        backgroundColor: this.mycolor
        // width: this.mywidth + 'px',
        // height: this.myheight + 'px'
      }
    }
  },
  created () {
    this.newColor()
    this.newSize()
    bus.$on('unselectAll', this.hideMe)
  },
  methods: {
    showSelectors () {
      bus.$emit('selectedItem', this.index, this)
      this.hideMe(true)
    },
    hideMe (no) {
      // console.log('item->hideMe')
      this.isShown = no
    },
    renew () {
      this.newColor()
      this.newSize()
      bus.$emit('selectedItem', this.index, this)
    },
    newColor () {
      var letters = '0123456789ABCDEF'
      var color = '#'
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      this.mycolor = color
    },
    newSize () {
      let min = 40
      let max = 80
      this.mywidth = Math.floor(Math.random() * (max - min + 1) + min)
      this.myheight = Math.floor(Math.random() * (max - min + 1) + min)
    }
  }
}
</script>

<style lang="css" scoped>
.itemContainer{
  border: 1px solid;
}
.item{
  cursor: pointer;
  position: relative;
  width: 50px;
  height: auto;
  margin: 5px;
  font-weight: 800;
  color: #fff;
  /*transition: all .6s ease-in;*/
  transition: box-shadow .3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.item::after{
  content: '';
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item.marked::after{
  opacity: 1;
}


.selectores{
  background-color: #eee;
  padding: 10px;
  border: 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  z-index: 1000;
}

label{
  min-width: 80px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
input, select{
  margin-left: 10px;
  flex: 0 1 auto;
  width: 100px;
}

.shown{
  display: flex;
  visibility: visible;
  opacity: 1;
}

</style>
