<template>
<div class="sec containers">
  <label>Display type
  <select v-model="selectedDisplayType">
    <option v-for="(type, key) in displayTypes" :key="key" :value="type">{{type}}</option>
  </select>
  </label>

  <label>Flex Direction
  <select v-model="selectedFlexDirection">
    <option v-for="(type, key) in flexDirections" :key="key" :value="type">{{type}}</option>
  </select>
  </label>

  <label>Flex Wrap
  <select v-model="selectedFlexWrap">
    <option v-for="(type, key) in flexWraps" :key="key" :value="type">{{type}}</option>
  </select>
  </label>

  <label>Justify Content
  <select v-model="selectedJustifyContent">
    <option v-for="(type, key) in justifyContents" :key="key" :value="type">{{type}}</option>
  </select>
  </label>

  <label>Align Items
  <select v-model="selectedAlignItems">
    <option v-for="(type, key) in alignItems" :key="key" :value="type">{{type}}</option>
  </select>
  </label>

  <label>Align Content
  <select v-model="selectedAlignContent">
    <option v-for="(type, key) in alignContents" :key="key" :value="type">{{type}}</option>
  </select>
  </label>
</div>
</template>
