<template>
<div class="selectores" v-if="selected !== 0">
  <h3>Item</h3>
  <div class="selected-item" title="Renew color"
      :style="selectedStyle"
      @mouseenter="updateHoverState(true)"
      @mouseleave="updateHoverState(false)"
      @click="item.renew" >
    <strong>{{selected}}</strong>
  </div>

  <label>Order
  <input type="number" v-model="order" name="order">
  </label>

  <label>Align Self
  <select v-model="selectedAlignSelf">
    <option v-for="(type, key) in alignSelfs" :key="key" :value="type">{{type}}</option>
  </select>
  </label>

  <label>Flex Grow
  <input type="number" v-model="flexGrow" name="flexGrow" min="0">
  </label>

  <label>Flex Shrink
  <input type="number" v-model="flexShrink" name="flexShrink" min="0">
  </label>

  <label>Flex Basis
  <select v-model="flexBasisAlt">
    <option v-for="(type, key) in flexBasisVals" :key="key" :value="type">{{type}}</option>
  </select>
  <div class="basis-units" v-if="flexBasisAlt==='custom'">
    <input type="number" v-model="flexBasisValue" name="flexBasis" min="1">
    <label><input type="radio" v-model="basisUnit" :checked="basisUnit==='px'" value="px" />px</label>
    <label><input type="radio" v-model="basisUnit" :checked="basisUnit==='%'"  value="%" />%</label>
  </div>
  </label>
</div>
</template>

<script>
import bus from '@/plugins/bus'

export default {
  name: 'SelectoresItem',
  components: {
  },
  data () {
    return {
      hoverState: false,
      selected: 0,
      item: null,
      alignSelfs: ['auto', 'flex-start', 'flex-end', 'center', 'baseline', 'stretch'],
      flexBasisVals: ['custom', 'unset', 'auto', 'fill', 'max-content', 'min-content', 'fit-content'],
      selectedAlignSelf: 'auto',
      order: 0,
      flexGrow: 0,
      flexShrink: 0,
      flexBasis: 0,
      flexBasisAlt: 0,
      flexBasisValue: 0,
      basisUnit: ''
    }
  },
  created () {
    bus.$on('selected', this.itemSelected)
  },
  computed: {
    selectedStyle () {
      if (this.hoverState) {
        return {
          color: this.item.mycolor,
          borderColor: this.item.mycolor
        }
      } else {
        return {
          backgroundColor: this.item.mycolor,
          borderColor: this.item.mycolor
        }
      }
    },
    itemStyles () {
      // this.flexBasis = this.flexBasisAlt !== 'custom' ? this.flexBasisAlt : this.flexBasisValue + this.basisUnit

      let basis = 0

      if (this.flexBasisAlt === 'custom') {
        basis = this.flexBasisValue + this.basisUnit
      } else {
        basis = this.flexBasisAlt
      }

      return {
        // flexBasis: this.flexBasisAlt,
        flexBasis: basis,
        alignSelf: this.selectedAlignSelf,
        flexGrow: this.flexGrow,
        flexShrink: this.flexShrink,
        order: this.order
      }
    },
    itemBasis () {
      return {
        flexBasisAlt: this.flexBasisAlt,
        flexBasisValue: this.flexBasisValue,
        basisUnit: this.basisUnit,
        flexBasis: this.flexBasisValue + this.basisUnit
      }
    }
  },
  methods: {
    itemSelected (e) {
      console.log('SelectoresItem->itemSelected: ', e)
      this.selected = e.index
      this.item = e.obj
      if (this.selected === 0) return

      this.updateBasis()
      // Styles back:
      this.selectedAlignSelf = this.item.itemStyles.alignSelf
      this.flexGrow = this.item.itemStyles.flexGrow
      this.flexShrink = this.item.itemStyles.flexShrink
      this.order = this.item.itemStyles.order
      this.flexBasis = this.item.itemStyles.flexBasis
      this.flexBasisAlt = this.item.itemBasis.flexBasisAlt
      this.flexBasisValue = this.item.itemBasis.flexBasisValue
      this.basisUnit = this.item.itemBasis.basisUnit

      this.item === null ? '' : this.item.isShown = true
    },
    updateBasis () {
      console.log('--> updateBasis: ', this.item.itemBasis)
      this.flexBasisAlt = this.item.itemBasis.flexBasisAlt
      this.flexBasisValue = this.item.itemBasis.flexBasisValue
      this.basisUnit = this.item.itemBasis.basisUnit
    },
    updateHoverState (isHover) {
      this.hoverState = isHover
    }
  },
  watch: {
    itemStyles: function () {
      console.log('itemStyles->watch: ', this.itemStyles)
      this.item.itemStyles = this.itemStyles
      // passes styles to Flexbox comp.
      this.$emit('passItemStyles', this.itemStyles)
    },
    itemBasis: function () {
      console.log('itemBasis->watch: ', this.itemBasis)
      this.item.itemBasis = this.itemBasis
    }
  }
}
</script>

<style lang="css" scoped>
.selectores{
  padding: 0px;
  margin: 0px;
}
h3{
  margin: 0 0 0px;
}
label{
  min-width: 80px;
  /*padding: 3px;
  display: flex;
  justify-content: space-between;*/
}
input, select{
  /*margin-left: 10px;*/
  margin-bottom: 10px;
  /*flex: 0 1 auto;*/
  flex-basis: 0;
  width: 120px;
}

.selected-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  border: 1px solid;
  cursor: pointer;
}
.selected-item:hover{
  background-color: transparent !important;
  border: 1px solid;
}

</style>
