<template>
<footer class="footer">
  <div class="row">
    <div class="column contact">

    </div>
    <div class="column support">
      <!-- <h4>Support</h4>
      If you find this useful, please consider donating to help pay hosting costs and keeping the site up to date.
      <p><a href="" class="button button-outline button-small">Donate</a></p> -->
    </div>
    <div class="column credits">
      <small>
        Made by <b><a href="https://http://squarehappiness.com/" target="_blank">Square Happiness</a></b>
      </small>
    </div>
  </div>
</footer>
</template>

<style lang="scss" scoped>
.footer{
  .credits{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    a {
    color: #e36b76;
    }
  }
}
</style>
