<template>
  <header class="navigation">
    <h1><a href="/">
      <img src="../../assets/logo-flexiting.png">
      Flexiting
    </a></h1>
    <nav>
      <nuxt-link class="navbar-item" to="/">Home</nuxt-link>
      <nuxt-link class="navbar-item" to="/playground">Playground</nuxt-link>
      <!-- <nuxt-link class="navbar-item" to="/projects">Projects</nuxt-link> -->
      <nuxt-link class="navbar-item" to="/contact">Contact</nuxt-link>
    </nav>

  </header>
</template>

<script>
export default {
  name: 'SiteHeader',
}
</script>


<style lang="scss" scoped>
header {
  h1 {
    img {
      width: 100px;
      height: auto;
      float: left;
    }
  }
}
</style>
