<template>
  <div class="container site">
    <site-header />
    <div class="main">
      <transition appear mode="out-in" name="fade">
        <nuxt/>
      </transition>
    </div>
    <site-footer />
  </div>
</template>+

<script>
import SiteHeader from '../components/UI/SiteHeader'
import SiteFooter from '../components/UI/SiteFooter'

export default {
  components: {
    SiteHeader,
    SiteFooter
  }
}
</script>
