<template>
  <section class="contact">
    <h1>Contact</h1>
    <p>Do you have something to tell us?</p>
    <p>Anything we should improve?</p>
    <p><a href="mailto:info@flexiting.com">Send us an email</a></p>
  </section>
</template>

<script>

export default {
  components: {

  },
  head () {
    return {
      title: 'Contact Flexiting',
      meta: [
        { hid: 'description', name: 'description', content: 'Flexiting: Contact with us' }
      ]
    }
  }
}
</script>
