<template>
  <section class="welcome">
    <h1>Welcome to Flexiting <small>a Flexbox playground</small></h1>
    <div class="content">
      In this site you can learn about Flexbox. Here you will find a <router-link exact to="/playground">Flexbox simulator</router-link> to play around with its different properties and build what you are looking for.
    </div>
    <p>Try out the most used values of Flexbox.</p>
    <p>Below you have some articles and references which can help you master Flexbox:</p>
    <ul>
      <li><a href="https://www.w3.org/TR/css-flexbox-1/" target="_blank" title="CSS Flexible Box Layout Module Level 1">W3C</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout" target="_blank" title="Mozilla Developer Network">MDN</a></li>
      <li><a href="https://www.w3schools.com/css/css3_flexbox.asp" target="_blank" title="CSS Flexible Box Layout Module">W3 Schools</a></li>
      <li><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank" title="A Complete Guide to Flexbox">CSS Tricks</a></li>
    </ul>
  </section>
</template>

<script>

export default {
  components: {

  },
  head () {
    return {
      title: 'Flexiting, learn CSS flexbox by playing',
      meta: [
        { hid: 'description', name: 'description', content: 'Useful resources to learn CSS Flexbox' }
      ]
    }
  }
}
</script>
