<template>
  <section class="playground">
    <h1>Playground</h1>
    <console />
  </section>
</template>

<script>
import Console from '@/components/Console.vue'
export default {
  components: {
    Console
  },
    head () {
    return {
      title: 'Flexbox Playground',
      meta: [
        { hid: 'description', name: 'description', content: 'An easy to use Flexbox playground to learn CSS Flexbox.' }
      ]
    }
  }
}
</script>
