<template>
  <section class="projects">
    <h1>Projects</h1>
    <p>New projects soon!</p>
  </section>
</template>

<script>

export default {
  components: {

  },
  head () {
    return {
      title: 'Projects',
      meta: [
        { hid: 'description', name: 'description', content: 'Soon to be...' }
      ]
    }
  }
}
</script>
